/* Border styles */
#table-1 thead, #table-1 tr {
border-top-width: 1px;
border-top-style: solid;
border-top-color: rgb(230, 189, 189);
}
#table-1 {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(230, 189, 189);
}

/* Padding and font style */
#table-1 td, #table-1 th {
padding: 5px 10px;
font-size: 12px;
font-family: Verdana;
color: rgb(177, 106, 104);
}

/* Alternating background colors */
#table-1 tr:nth-child(even) {
background: rgb(238, 211, 210)
}
#table-1 tr:nth-child(odd) {
background: #FFF
}

/* Border styles */
#table-3 thead, #table-3 tr {
border-top-width: 1px;
border-top-style: solid;
border-top-color: rgb(235, 242, 224);
}
#table-3 {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(235, 242, 224);
}

/* Padding and font style */
#table-3 td, #table-3 th {
padding: 5px 10px;
font-size: 14px;
font-family:"Courier New", Courier, monospace;
color: rgb(149, 170, 109);
}

/* Alternating background colors */
#table-3 tr:nth-child(even) {
background: rgb(230, 238, 214)
}
#table-3 tr:nth-child(odd) {
background: #FFF
}

/* Border styles */
#table-4 thead, #table-4 tr {
border-top-width: 1px;
border-top-style: solid;
border-top-color: rgb(211, 202, 221);
}
#table-4 {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(211, 202, 221);
}

/* Padding and font style */
#table-4 td, #table-4 th {
padding: 5px 10px;
font-size: 12px;
font-family: Verdana;
color: rgb(95, 74, 121);
}

/* Alternating background colors */
#table-4 tr:nth-child(even) {
background: rgb(223, 216, 232)
}
#table-4 tr:nth-child(odd) {
background: #FFF
}

#p01 {
	font-size: 18px;
	font-family: Verdana;
	color: rgb(119, 140, 79);
}
#p02 {
	font-size: 12px;
	font-family: Verdana;
	color: rgb(119, 140, 79);
}

#ptitle {
	font-size: 25px;
	font-family: Verdana, Geneva, sans-serif;
	color: rgb(119, 140, 79);
}

#sequence{
	border-color: rgb(110, 135, 75);
	height: 80px;
	width: 500px;
	color: rgb(119, 140, 79);
}

.btn{
	border-color: rgb(110, 135, 75);
	color: rgb(119, 140, 79);
}
.list1_content{
	color: rgb(119, 140, 79);
	font-size: 14px;
	font-family: Verdana;
	text-overflow:ellipsis;
	width = 200px;
	overflow: hidden;
}

.list1_content:hover {
    text-overflow: inherit;
    overflow: visible;
}
.list1{
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
}
.list1 li{
	
	list-style-type: none;
	
}
.rst1{
	float: none;
	width: 100%;
}
.list1[type="checkbox"]:after{
	border-color: rgb(110, 135, 75);
	color: rgb(119, 140, 79);
}
.checkbox1{
	border-color: rgb(110, 135, 75);
	background-color: #000000;
	color: rgb(119, 140, 79);
}